VITE_API_URL=http://localhost:8000/api
VITE_WS_URL=ws://localhost:8000
VITE_MAP_TOKEN=your_map_token
VITE_CHAPA_PUBLIC_KEY=your_chapa_key

VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
VITE_GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET